#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.message {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.bot-message {
  justify-content: flex-start;
}

.user-message {
  justify-content: flex-end;
}

.message-text {
  background-color: #e0f7fa; /* Light teal for bot messages */
  color: #004d40; /* Dark teal text for readability */
  border-radius: 8px;
  padding: 10px;
  max-width: 70%;
  font-size: 14px;
  word-wrap: break-word;
}

.user-message .message-text {
  background-color: #d1c4e9; /* Light purple for user messages */
  color: #4a148c; /* Dark purple text */
}
